@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
.App {
  text-align: center;
  font-family: 'STIX Two Math', serif;
  background: url(./images/3f1ef51190486e8a9b6d62e9081959ac.jpg) no-repeat fixed
    center;
}
